<div class="bg-gray-700/50 fixed top-0 w-screen h-screen border z-20 flex justify-center items-center">
  <form (ngSubmit)="saveActivity()" class="max-w-md w-1/2 mx-auto p-6 text-gray-700 dark:text-gray-400 rounded-2xl bg-white dark:bg-gray-900 shadow-xl">
    <h1 class="text-2xl font-bold text-center mb-6 text-blue-600 dark:text-blue-400">{{ title }}</h1>

    <!-- Nom -->
    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium">Activity name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="activity.name"
        name="name"
        placeholder="ex: STEM Club"
        required
        class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
               focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
               dark:border-gray-600 dark:text-white"
      />
    </div>

    <!-- Description -->
    <div class="mb-5">
      <label for="description" class="block mb-2 text-sm font-medium">Description</label>
      <textarea
        id="description"
        [(ngModel)]="activity.description"
        name="description"
        rows="3"
        placeholder="Describe the activity..."
        class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
               focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
               dark:border-gray-600 dark:text-white"
      ></textarea>
    </div>

    <!-- Statut -->
  <!--   <div class="mb-5 flex items-center">
      <input
        type="checkbox"
        id="isActive"
        [(ngModel)]="activity.isActive"
        name="isActive"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded
               focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800
               focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="isActive" class="ml-2 text-sm font-medium">Active</label>
    </div> -->

    <!-- Periodicité -->
    <div class="mb-5 flex items-center">
      <input
        type="checkbox"
        id="isPeriodic"
        [(ngModel)]="activity.isPeriodic"
        name="isPeriodic"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded
               focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800
               focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="isPeriodic" class="ml-2 text-sm font-medium">Periodic</label>
    </div>

    @if(activity.isPeriodic) {
      <div class="mb-5">
        <label for="dayOfWeek" class="ml-2 text-sm font-medium">Day of Week</label>
        <select id="dayOfWeek" [(ngModel)]="activity.dayOfWeek" name="dayOfWeek" class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
               focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
               dark:border-gray-600 dark:text-white">
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
      </div>
    } @else {
      <div class="mb-5">
         <label for="startDate" class="ml-2 text-sm font-medium">Start date</label>
         <input type="date" id="startDate" [(ngModel)]="activity.startDate" name="startDate" class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
               focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
               dark:border-gray-600 dark:text-white">
      </div>
      <div class="mb-5">
         <label for="endDate" class="ml-2 text-sm font-medium">End date</label>
         <input type="date" id="endDate" [(ngModel)]="activity.endDate" name="endDate" class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
               focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
               dark:border-gray-600 dark:text-white">
      </div>
    }

    <div class="mb-5">
      <label for="startTime" class="ml-2 text-sm font-medium">Start Time</label>
      <input type="time" id="startTime" [(ngModel)]="activity.startTime" name="startTime" class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
            focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
            dark:border-gray-600 dark:text-white">
    </div>
    <div class="mb-5">
      <label for="endTime" class="ml-2 text-sm font-medium">End Time</label>
      <input type="time" id="endTime" [(ngModel)]="activity.endTime" name="endTime" class="w-full p-2 text-sm border border-gray-300 rounded-lg shadow-sm bg-gray-50
            focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700
            dark:border-gray-600 dark:text-white">
    </div>

    @if(error.enabled) {<span class="text-xs font-bold text-red-500 bg-red-100">{{error.message}}</span>}

    <div class="flex justify-end gap-2">
      <button type="button" (click)="cancel()" class="text-gray-900 bg-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center">
        Cancel
      </button>
      @if(mode=='insert') {
        <button *ngIf="loading" type="submit" class="text-white cursor-not-allowed bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center">
          <svg class="mr-3 size-5 animate-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="currentColor"><path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14Zm0 3c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z" clip-rule="evenodd" opacity=".2"/><path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7H2Z"/></g></svg>
          Creating...
        </button>
        <button *ngIf="!loading" type="submit" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center">
          Add activity
        </button>
      } @else {
        <button *ngIf="loading" type="submit" class="text-white cursor-not-allowed bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center">
          <svg class="mr-3 size-5 animate-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="currentColor"><path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14Zm0 3c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z" clip-rule="evenodd" opacity=".2"/><path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7H2Z"/></g></svg>
          Updating...
        </button>
        <button *ngIf="!loading" type="submit" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center">
          Update activity
        </button>
      }
    </div>

  </form>
</div>