<div class="p-4 rounded-lg shadow-xl border overflow-hidden">
  <div class="grid grid-flow-col gap-1 mb-1 ml-2">
    <div class="text-xs text-gray-500 w-[4rem] border">Jan</div>
    <div class="text-xs text-gray-500 w-[4rem] border">Feb</div>
    <div class="text-xs text-gray-500 w-[4rem]">Mar</div>
    <div class="text-xs text-gray-500 w-[4rem]">Apr</div>
    <div class="text-xs text-gray-500 w-[4rem]">May</div>
    <div class="text-xs text-gray-500 w-[4rem]">Jun</div>
    <div class="text-xs text-gray-500 w-[4rem]">Jul</div>
    <div class="text-xs text-gray-500 w-[4rem]">Aug</div>
    <div class="text-xs text-gray-500 w-[4rem]">Sep</div>
    <div class="text-xs text-gray-500 w-[4rem]">Oct</div>
    <div class="text-xs text-gray-500 w-[4rem]">Nov</div>
    <div class="text-xs text-gray-500 w-[4rem]">Dec</div>
  </div>

  <div class="flex">
    <div class="grid grid-rows-7 gap-1 mr-1 text-xs text-gray-500">
      <div class="flex items-center justify-end h-3 pr-1">Mon</div>
      <div class="h-3"></div>
      <div class="flex items-center justify-end h-3 pr-1">Wed</div>
      <div class="h-3"></div>
      <div class="flex items-center justify-end h-3 pr-1">Fri</div>
      <div class="h-3"></div>
    </div>

    <div class="grid grid-flow-col grid-rows-7 gap-1">
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
      <div class="h-3 w-3 rounded-sm bg-green-100 dark:bg-green-900" data-level="1"></div>
      <div class="h-3 w-3 rounded-sm bg-green-400 dark:bg-green-600" data-level="2"></div>
      <div class="h-3 w-3 rounded-sm bg-green-600 dark:bg-green-400" data-level="3"></div>
      <div class="h-3 w-3 rounded-sm bg-green-800 dark:bg-green-200" data-level="4"></div>
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
      <div class="h-3 w-3 rounded-sm bg-green-400" data-level="2"></div>
      <div class="h-3 w-3 rounded-sm bg-green-800" data-level="4"></div>
      <div class="h-3 w-3 rounded-sm bg-green-100" data-level="1"></div>
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
      <div class="h-3 w-3 rounded-sm bg-green-600" data-level="3"></div>
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
      <div class="h-3 w-3 rounded-sm bg-gray-300/30" data-level="0"></div>
    </div>
  </div>
</div>
