<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead
    class="text-xs border border-gray-200 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">Start time</th>
      <th scope="col" class="px-6 py-3">Purpose of visit</th>
      <th scope="col" class="px-6 py-3">End time</th>
      <th scope="col" class="px-6 py-3">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (item of checkins; track item) {
      <tr
        class="bg-white hover:border-y border-gray-200 cursor-pointer dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <div class="relative">
            <img
              class="w-10 h-10 rounded-full"
              [src]="getfileUrl(item?.Member?.profileImage)"
              alt="Jese image"
            />
            @if (isInRoom(item)) {
              <span class="absolute bottom-0 right-0 w-4 h-4 bg-green-500 border-2 border-white rounded-full"></span>
            }
          </div>
          <div class="ps-3">
            <div class="text-base font-semibold flex items-center gap-2">
              {{ item?.Member?.lastName + ' ' + item?.Member?.firstName }}
              <!-- @if (isInRoom(item)) {
                <span class="w-2 h-2 bg-green-500 rounded-full"></span>
              } -->
            </div>
            <div class="font-normal text-gray-500">{{ item?.Member?.registrationNumber }}</div>
          </div>
        </th>
        <td class="px-6 py-4 capitalize">
          {{ formatTime(item.checkInTime) }}
        </td>
        <td class="px-6 py-4 capitalize">
          {{ item.Activity?.name }}
        </td>
        <td class="px-6 py-4 capitalize">
          {{ formatTime(item.checkOutTime) }}
        </td>
        <td class="px-6 py-4">
          <a
            [routerLink]="['/profil', item?.Member?.registrationNumber]"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >View profil</a
          >
        </td>
      </tr>
    }

    @if (checkins.length === 0) {
      <tr
        class="bg-white hover:border-y border-gray-200 cursor-pointer dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td colspan="5" class="px-6 py-4 capitalize italic text-center">
          -- No members are checking in today --
        </td>
      </tr>
    }
  </tbody>
</table>
