<div
  class="w-xs p-2 flex items-center justify-between border border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 hover:-translate-y-1 transition duration-300 ease-in-out"
>
  <div class="w-full relative flex items-center justify-start gap-2">
    <div class="w-4 h-4 bg-gray-300 rounded animate-pulse"></div>
    <div class="w-14 h-14 bg-gray-200 rounded-full overflow-hidden animate-pulse"></div>
    <div class="flex flex-col gap-2">
      <h5 class="text-xl font-bold text-gray-800 animate-pulse w-28 h-6 bg-gray-200"></h5>
      <p class="bg-gray-200 w-16 h-4 animate-pulse"></p>
    </div>
  </div>
  <button
    type="button"
    class="text-gray-900 animate-pulse bg-gray-200 h-9 w-9 cursor-pointer hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-100 rounded-lg text-sm p-2 text-center"
  ></button>
</div>
