<div class="scanner-container">
  <video #video autoplay muted playsinline></video>

  <div
    class="scan-zone"
    [ngStyle]="{
      width: scanZoneWidth,
      height: scanZoneHeight,
      borderColor: borderColor,
    }"
  ></div>

  <!-- <div class="controls">
    <button (click)="pauseScan()" [disabled]="!scanning">⏸ Pause</button>
    <button (click)="resumeScan()" [disabled]="scanning">▶ Resume</button>
  </div> -->

  <button
    (click)="toggleCamera()"
    class="absolute top-5 left-1/2 -translate-x-1/2 z-2000 bg-transparent border-none cursor-pointer"
  >
    <img
      class="h-10 animate-bounce hover:scale-110 transition-transform"
      src="camera.webp"
      alt="Camera Toggle"
    />
  </button>

  <div class="result" *ngIf="result">
    <p>Scanned Code:</p>
    <strong>{{ result }}</strong>
  </div>
</div>
