.scanner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  position: relative;
  z-index: 0;
}

video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scan-zone {
  position: relative;
  border: 4px solid;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
  border-radius: 12px;
  z-index: 10;
}

.scan-zone::before {
  content: "";
  display: block;
  background-image: url("../../../../public/arrow-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  z-index: 1000;
}

.scan-zone::after {
  content: "";
  display: block;
  background-image: url("../../../../public/arrow-left.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  z-index: 1000;
}

.controls {
  position: absolute;
  bottom: 80px;
  display: flex;
  gap: 10px;
  z-index: 15;
}

button {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: rgba(0, 255, 0, 0.5);
}

.result {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

@media screen and (max-width: 596px) {
  .scan-zone::before, .scan-zone::after {
    display: "none";
  }
}