/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'edu-cursive';
  src: url('/EduNSWACTCursive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}