/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'edu-cursive';
  src: url('/EduNSWACTCursive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media print {
  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  #badgeSectionToPrint,
  #badgeSectionToPrint * {
    visibility: visible;
  }

  #badgeSectionToPrint {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(0.87);
    transform-origin: top center;
  }

  #certificateSectionToPrint,
  #certificateSectionToPrint * {
    visibility: visible;
  }

  #certificateSectionToPrint {
    transform: scale(1.3) translateX(100) translateY(100);
    box-shadow: none !important;
    border: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
