<div class="w-sm mx-auto border rounded-sm shadow-xl bg-white overflow-hidden p-1" style="font-family: 'Times New Roman', Times, serif;">
    <!-- Header -->
    <div class="flex">
        <!-- Photo -->
        <div class="w-28 h-28 border rounded overflow-hidden flex-shrink-0">
            <img
            src=""
            alt="Member photo"
            class="w-full h-full object-cover"
            />
        </div>

        <div class="w-full">
            <div class="text-center pb-2 h-fit w-full text-nowrap text-sm font-bold text-gray-900 dark:text-white">
                <h2>AMERICAN CORNER MAHAJANGA</h2>
                <h2>MEMBERSHIP CARD</h2>
            </div>
            <div class="font-semibold text-xs pl-2 flex flex-col gap-2">
                <div class="flex">
                    <div>N° : _ACMJN_ </div>
                    <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                        <app-text-cursive text="01234"/>
                    </div>
                </div>
                <div class="flex">
                    <div>Membership date : </div>
                    <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                        <app-text-cursive text="01 / 01 / 25"/>
                    </div>
                </div>
                <div class="flex">
                    <div>Phone Contact : </div>
                    <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                        <app-text-cursive text="032 55 555 55"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- Body -->
    <div class="text-xs font-semibold">
        <div class="flex">
            <div>Full name: Mr. / Mrs. / Miss : </div>
            <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                <app-text-cursive text="John DOE"/>
            </div>
        </div>

        <div class="flex">
            <div>Date and Place of birth : </div>
            <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                <app-text-cursive text="01 / 01 / 25"/>
            </div>
            <div> in </div>
            <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                <app-text-cursive text="Mahajanga"/>
            </div>
        </div>

        <div class="flex">
            <div>Physical Adress (in Mahajanga) : </div>
            <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                <app-text-cursive text="Majunga Be"/>
            </div>
        </div>

        <div class="flex">
            <div class="flex w-1/2">
                <div>Occupation : </div>
                <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                    <app-text-cursive text="Student"/>
                </div>
            </div>
            <div class="flex w-1/2">
                <div>Place of work/study : </div>
                <div class="flex-1 border-b border-gray-900 h-fit -translate-y-[5px] mx-1">
                    <app-text-cursive text="ESSGAM"/>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center text-xs">
        <p class="font-semibold pb-6 pt-2">The Responsible</p>
    </div>
 
</div>