<div class="rounded-lg shadow-2xl bg-white dark:bg-gray-800 opacity-75 mx-6">

    <div *ngIf="member" class="p-12 text-center">
        <app-img-round [imgUrl]="getfileUrl(member?.profileImage)"/>
        <app-title [titleText]="member?.lastName + ' ' + member?.firstName"/>
        <div class="mx-auto w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
        @if(member.firstName=='404') {
            <app-text-description textDescription="Member {{ member?.registrationNumber }} isn't found."/>
        } @else {
            <app-member-description text="Registration number: {{ member?.registrationNumber }}"/>
            <app-member-description text="Member since {{ formatDate(member?.joinDate) }}"/>
            <app-text-description textDescription="Hi 👋! I'm {{ member?.firstName + ' ' + member?.lastName }}, I am a member of American Corner in Mahajanga."/>
        }
    </div>

    <div *ngElse class="p-12 text-center animate-pulse">
        <app-img-round [imgUrl]="getfileUrl('user.png')"/>
        <app-title titleText="..."/>

        <div class="mx-auto w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
        <app-member-description text="..."/>
        <app-member-description text="..."/>
        <app-text-description textDescription="..."/>
    </div>

</div>